.table-container {
    overflow-x: auto;
    max-width: 1500px; /* ancho máximo de 1500px */
    margin: 50px auto 0 auto; /* agregar un margen superior de 50px */
    padding: 20px; /* agregar un poco de espacio entre el contenido y el borde */
    border: 1px solid #fff; /* agregar un borde blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* agregar un efecto de sombra */
    background-color: #fff; /* White background */
    border: 1px solid #ccc;
  }

  .table-full {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px 10px 3px 0; 
}

.thead {
  background-color: #880202; /* color de fondo */
  color: #fff; /* color de texto */
}

.table-striped td{
  border: 1px solid black;
  text-align: justify;
  vertical-align: middle;
}

.table-striped th{
  text-align: center;
  vertical-align: middle;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.foto {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-width: 750px;
  margin-top: 100px; /* agregar un margen superior de 100px */
}

.foto ul {
  list-style: none; /* Elimina el punto del li */
  padding: 0; /* Elimina el padding del ul */
  margin: 0; /* Elimina el margen del ul */
}

.foto li {
  display: flex; /* Convierte el li en un contenedor flex */
  flex-direction: column; /* Establece la dirección del flex en columna */
  align-items: center; /* Centra los elementos en el eje horizontal */
  margin-bottom: 20px; /* Agrega un margen inferior para separar los elementos */
}

.foto img {
  width: 250px; /* Establece el ancho de la imagen */
  height: 250px; /* Establece el alto de la imagen */
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Ajusta la imagen para que se adapte al tamaño establecido */
  margin-bottom: 10px; /* Agrega un margen inferior para separar la imagen del texto */
}

.foto p {
  text-align: center; /* Centra el texto */
  margin-bottom: 5px; /* Agrega un margen inferior para separar los párrafos */
}

.comision {
  margin-top: 30px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  max-width: 750px;
}

.proyectos {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  max-width: 1500px;
  margin: 0 auto;
}


.ver-detalle-button {
  background-color: #666; /* color plomo */
  color: #000; /* letras negras */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px; /* agregar bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* agregar sombra */
  transition: background-color 0.2s; /* agregar efecto de transición */
}

.ver-detalle-button:hover {
  background-color: #555; /* cambiar color al pasar el mouse */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* aumentar sombra al pasar el mouse */
}

.ver-detalle-button:active {
  background-color: #444; /* cambiar color al hacer clic */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* aumentar sombra al hacer clic */
}

.ver-detalle-button {
  background-color: #ccc; /* gris claro */
  color: #000; /* letras negras */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px; /* agregar bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* agregar sombra */
  transition: background-color 0.2s; /* agregar efecto de transición */
}

.ver-detalle-button:hover {
  background-color: #2196F3; /* gris claro más claro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* aumentar sombra al pasar el mouse */
}

.ver-detalle-button:active {
  background-color: #2196F3; /* gris claro oscuro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* aumentar sombra al hacer clic */
}