  <div class="container">
    <div class="foto">
      <h2>Presidente</h2>
      <ul>
        <li *ngFor="let presidente of presidentes">
          <img [src]="presidente.fotoUrl" *ngIf="presidente.fotoUrl">
          <p>
            Nombre: {{ presidente.personalfk.xnombreCompleto }}
          </p>
          <p>
            Corte: {{ presidente.cortefk.xnombre }}
          </p>
        </li>
      </ul>
    </div>
    <div class="comision">
     <div class="table-container">
        <h2>Comision Distrital de Gestion de Despacho Judicial</h2>
        <table class="table table-striped table-full" style="max-width: 1500px; margin: 0 auto;">
          <thead class="thead">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Correo Institucional</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let miembro of miembros">
                 <td>{{ miembro.personalfk.xnombreCompleto }}</td>
                 <td>{{ miembro.cargofk.xnombre }}</td>
                 <td>{{ miembro.personalfk.xcorreoInstitucional }}</td>
            </tr>
            </tbody>     
        </table>

        <div style="margin-top: 20px;">
          <b style="margin-right: 20px;" >Visualiza la resolución: </b>
          <a [href]="getArchivoComisionUrl(filtro)" target="_blank">
            <img src="assets/descarga.png" alt="Descarga" style="width: 40px; height: 40px;">
          </a>
        </div>
  

      </div>
    </div>


    <div class="proyectos">
      <div class="table-wrapper">
        <table class="table table-striped table-full" style="max-width: 1500px; margin: 0 auto;">
            <thead class="thead">
                <tr>
                  <th scope="col">Nombre Proyecto</th>
                  <th scope="col">Corte Superior</th>
                  <th scope="col">Proyecto</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let proyecto of proyectos; let i = index">
                  <td>{{proyecto.xnombreproyecto}}</td>
                  <td>{{proyecto.cortefk.xnombre}}</td>
                  <td>{{proyecto.xnombreproyecto}}</td> 
                  <td>{{proyecto.estadofk.xnombre}}</td> 
                  <td>
                    <button [routerLink]="['/detalle-proyecto', proyecto.proyectopk]" class="ver-detalle-button">
                      Ver detalle
                    </button>
                  </td>     
                </tr>
              </tbody>
        </table>
      </div>
    </div>
  </div>