<mat-card appearance="outlined">
  <mat-card-content> 
    <h2 style="text-align: center;">Registro de Proyectos y Buenas Prácticas</h2>
      
      <div>
        <input type="text" class="form-control" style="max-width: 1500px" [(ngModel)]="searchText" (ngModelChange)="buscar()" placeholder="Buscar...">
      </div>

    <div class="table-container">
     <table class="table table-striped table-full" style="max-width: 1500px; margin: 0 auto;">
        <thead class="thead">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">CSJ</th>
            <th scope="col">Objetivo General</th>
            <th scope="col">Ficha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of filteredProyectos() | paginate: { itemsPerPage: noOfRows, currentPage: page }; let i = index">
            <td>{{proyecto.xnombreproyecto}}</td>
            <td>{{proyecto.cortefk.xnombreCorto}}</td>
            <td>{{proyecto.xobjetivogeneral}}</td>
            <td>
              <button [routerLink]="['/detalle-proyecto', proyecto.proyectopk]">
                Ver detalle
              </button>
            </td>
           
          </tr>
        </tbody>
      </table>
    </div>


    <div class="pagination-container">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
      <pagination-template #p="paginationApi" (pageChange)="page=$event">
        
        <div class="form-group item-par-page">
          <label for="noRows">Página</label>
          <span>{{ getStartIndex(p.getCurrent(), p.getLastPage()) }} - {{ getLastIndex(p.getCurrent(), p.getLastPage()) }} de {{ datas?.length }}</span>
          <select name="noRows" id="noRows" (change)="page=1" [(ngModel)]="noOfRows">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>

      </pagination-template>
    </div>
  </mat-card-content>
</mat-card>
 