.table-container {
    overflow-x: auto;
    
  }
   
  .table-full {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 3px 0; 
  }
  

  .thead {
    background-color: #880202; /* color de fondo */
    color: #fff; /* color de texto */
  }

  .table-striped td{
    border: 1px solid black;
    text-align: justify;
    vertical-align: middle;

  }

  .table-striped th{
    text-align: center;
    vertical-align: middle;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .item-par-page {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .form-control{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow: hidden;
  }

  
.ver-detalle-button {
  background-color: #666; /* color plomo */
  color: #000; /* letras negras */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px; /* agregar bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* agregar sombra */
  transition: background-color 0.2s; /* agregar efecto de transición */
}

.ver-detalle-button:hover {
  background-color: #555; /* cambiar color al pasar el mouse */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* aumentar sombra al pasar el mouse */
}

.ver-detalle-button:active {
  background-color: #444; /* cambiar color al hacer clic */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* aumentar sombra al hacer clic */
}

.ver-detalle-button {
  background-color: #ccc; /* gris claro */
  color: #000; /* letras negras */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px; /* agregar bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* agregar sombra */
  transition: background-color 0.2s; /* agregar efecto de transición */
}

.ver-detalle-button:hover {
  background-color: #2196F3; /* gris claro más claro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* aumentar sombra al pasar el mouse */
}

.ver-detalle-button:active {
  background-color: #2196F3; /* gris claro oscuro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* aumentar sombra al hacer clic */
}

