<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sisgestion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Home -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      
      <!-- proyectos -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="proyecto" role="button" data-toggle="dropdown" aria-expanded="false">
          Proyectos
        </a>
        <div class="dropdown-menu" aria-labelledby="proyectoDropdown">
          <a class="dropdown-item" routerLink="/lista-proyectos">Lista de Proyectos</a>

        </div>
      </li>
      
      <!-- cortes -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="corteDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Cortes
        </a>
        <div class="dropdown-menu" aria-labelledby="corteDropdown">
          <a class="dropdown-item" routerLink="/lista-cortes">Lista de Cortes</a>
        </div>
      </li>
      

    </ul>

  </div>
</nav>

<router-outlet></router-outlet>