.navbar {
  background-color: #8B0A1A; /* Color dark red */
  color: #fff; /* Color de texto blanco */
  position: fixed; /* Cambia de relative a fixed */
  top: 0; /* Fija la navbar en la parte superior */
  left: 0; /* Fija la navbar en la parte izquierda */
  width: 100%; /* Ancho del 100% para que ocupe toda la pantalla */
  z-index: 2000; /* Mantén el z-index para que se muestre encima de otros elementos */
}

  .logo{
    filter: grayscale(100%) brightness(100);;
  }

  .navbar-brand {
    color: #fff; /* Color de texto blanco para la marca */
   
  }

  .navbar-nav .nav-link {
    color: #fff; /* Color de texto blanco para los enlaces de navegación */
    font-size: 17px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ccc; /* Color de texto gris claro para los enlaces de navegación en hover */
  }

  .dropdown-item {
  /* Agrega un borde inferior a cada elemento de lista */
  border-bottom: 1px solid #ccc;
  /* Agrega un padding adicional para separar los elementos */
  padding: 10px 20px;
  /* Cambia el tamaño de la fuente y el estilo */
  font-size: 16px;
  /* Agrega un fondo claro para resaltar los elementos */
  background-color: #f7f7f7;
  }

  .dropdown-item:hover {
     /* Cambia el fondo y el texto al pasar el mouse por encima */
    background-color: #e7e7e7;
    color: #333;
  }

 
  body {
    background-color: #f7f7f7; /* tono de gris claro */
  }