<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#" >
    <img class="logo" src="assets/bproyecto0.png" alt="Logo" style="height: 50px; margin-right: 20px;">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Home -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      
      <!-- proyectos -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="proyecto" role="button" data-toggle="dropdown" aria-expanded="false">
          Proyectos
        </a>
        <div class="dropdown-menu" aria-labelledby="proyectoDropdown">
        <a class="dropdown-item" routerLink="/lista-proyectos">Listado de Proyectos</a>
        <a class="dropdown-item" routerLink="/lista-cortes">Por Corte Superior</a>
        <a class="dropdown-item" routerLink="/lista-proyectos">Por Proponente</a>
        <a class="dropdown-item" routerLink="/lista-proyectos">Busqueda Avanzada</a>
        </div>
      </li>
      
      <!-- Estadistica -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="corteDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Estadistica
        </a>
        <div class="dropdown-menu" aria-labelledby="corteDropdown">
          <a class="dropdown-item" routerLink="/lista-cortes">Lista de Cortes</a>
        </div>
      </li>
      

    </ul>

  </div>
</nav>
<body>
  <router-outlet></router-outlet>
</body>
