/* ==== NAVBAR ==== */
.navbar-custom {
  background-color: #8B0A1A !important; /* Rojo oscuro */
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

/* Logo en blanco y negro */
.logo {
  filter: grayscale(100%) brightness(100);
}

/* Links del menú */
.navbar-custom .nav-link {
  color: #fff !important;
  font-size: 17px;
}

.navbar-custom .nav-link:hover {
  color: #ccc !important; /* Gris en hover */
}

/* ==== DROPDOWN ==== */
.navbar-custom .dropdown-menu {
  background-color: #8B0A1A; /* Fondo rojo oscuro */
  border: none;
}

.navbar-custom .dropdown-item {
  color: #fff !important;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 10px 20px;
  font-size: 16px;
}

.navbar-custom .dropdown-item:hover {
  background-color: #a30e25;
  color: #fff !important;
}

/* ==== CONTENIDO PRINCIPAL ==== */
.main-content {
  padding-top: 80px; /* para que no se tape con navbar fijo */
  min-height: 100vh;
  background-color: #f7f7f7; /* gris claro */
}
