.navbar {
    background-color: #8B0A1A; /* Color dark red */
    color: #fff; /* Color de texto blanco */
  }
  
  .navbar-brand {
    color: #fff; /* Color de texto blanco para la marca */
  }

  .navbar-nav .nav-link {
    color: #fff; /* Color de texto blanco para los enlaces de navegación */
  }
  
  .navbar-nav .nav-link:hover {
    color: #ccc; /* Color de texto gris claro para los enlaces de navegación en hover */
  }

  .dropdown-item {
    color: #000000; /* Color de texto blanco para los items del menú desplegable */
  }

  .dropdown-item:hover {
    background-color: #ccc; /* Color de fondo gris claro para los items del menú desplegable en hover */
  }