<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <input type="text" [(ngModel)]="searchText" class="form-control search-input" placeholder="Buscar corte...">
    </div>
  </div>
  <div class="row">
    <div *ngFor="let corte of filteredCortes(); let i = index" class="col-md-4 mb-3">
      <div class="card" (click)="viewProyectos(corte.xnombreCorto)">
        <img [src]="corte.fotoUrl" class="card-img-top" alt="{{corte.xnombreCorto}}">
        <div class="card-body">
          <h5 class="card-title">{{corte.xnombre}}</h5>
          <p class="card-text">{{corte.xnombreCorto}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



