<div class="table-container">
  
    <h1>Búsqueda avanzada</h1>

<div class="search-wrapper">
    <div class="search-container">
    <div class="search-field">
        <label for="corte">Corte Superior de Justicia:</label>
        <select id="corte" [(ngModel)]="corteSeleccionada" (change)="filtrarProyectos()">
          <option [attr.placeholder] [ngValue]="undefined">Selecciona...</option>
          <option *ngFor="let corte of cortes" [value]="corte.cortePk">{{ corte.xnombre }}</option>
        </select>
    </div>
   
    <div class="search-field">
        <label for="jerarquia">Jerarquía:</label>
        <select id="jerarquia" [(ngModel)]="jerarquiaSeleccionada" (change)="filtrarProyectos()">
          <option [attr.placeholder] [ngValue]="undefined">Selecciona...</option>
          <option *ngFor="let jerarquia of jerarquias" [value]="jerarquia.jerarquiaPk">{{ jerarquia.xnombre }}</option>
        </select>
    </div>
  
    <div class="search-field">
        <label for="especialidad">Especialidad:</label>
        <select id="especialidad" [(ngModel)]="especialidadSeleccionada" (change)="filtrarProyectos()">
          <option [attr.placeholder] [ngValue]="undefined">Selecciona...</option>
          <option *ngFor="let especialidad of especialidades" [value]="especialidad.especialidadPk">{{ especialidad.xnombre }}</option>
        </select>
    </div>
 
    <div class="search-field">
      <label for="eje">Eje:</label>
      <select id="eje" [(ngModel)]="ejeSeleccionado" (change)="filtrarProyectos()">
        <option [attr.placeholder] [ngValue]="undefined">Selecciona...</option>
        <option *ngFor="let eje of ejes" [value]="eje.ejePk">{{ eje.xnombre }}</option>
      </select>
    </div>
  
   
    <div class="search-field">
        <label for="estado">Estado:</label>
        <select id="estado" [(ngModel)]="estadoSeleccionado" (change)="filtrarProyectos()">
          <option [attr.placeholder] [ngValue]="undefined">Selecciona...</option>
          <option *ngFor="let estado of estados" [value]="estado.estadoPk">{{ estado.xnombre }}</option>
        </select>
    </div>

 
    <div class="search-field">
      <label for="etiqueta">Palabra Clave:</label>
      <select id="etiqueta" [(ngModel)]="etiquetaSeleccionada" (change)="filtrarProyectos()">
        <option [attr.placeholder] [ngValue]="undefined">Selecciona...</option>
        <option *ngFor="let etiqueta of etiquetas" [value]="etiqueta.etiquetaPk">{{ etiqueta.xnombre }}</option>
      </select>
    </div>
 
    <button class="button" style="float: right;" (click)="reiniciarBusqueda()">Reiniciar búsqueda</button>
  
    </div>
</div>

<div class="table-wrapper">
      <table class="table table-striped table-full" style="max-width: 1500px; margin: 0 auto;">
        <thead class="thead">
          <tr>
            <th scope="col">Proponente</th>
            <th scope="col">Corte Superior</th>
            <th scope="col">Proyecto</th>
            <th scope="col">Estado</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of proyectosFiltrados; let i = index">
            <td>{{proyecto.xnombreproyecto}}</td>
            <td>{{proyecto.cortefk.xnombre}}</td>
            <td>{{proyecto.xnombreproyecto}}</td> 
            <td>{{proyecto.estadofk.xnombre}}</td> 
            <td>
              <button [routerLink]="['/detalle-proyecto', proyecto.proyectopk]">
                Ver detalle
              </button>
            </td>     
          </tr>
        </tbody>
      </table>
</div>
