<div class="titulo">
  <h1>Busqueda por Proponente</h1>
</div>

<div class="search-inputs">
  <div>
    <label>N° Dni:</label>
    <input type="text" style="max-width: 200px" [(ngModel)]="searchTextDni" (ngModelChange)="filtrarProyectos()" placeholder="Buscar...">
  </div>
  <div>
    <label>Nombre:</label>
    <input type="text" style="max-width: 200px" [(ngModel)]="searchTextNombre" (ngModelChange)="filtrarProyectos()" placeholder="Buscar...">
  </div>
  <div>
    <label>Apellido:</label>
    <input type="text" style="max-width: 200px" [(ngModel)]="searchTextApellido" (ngModelChange)="filtrarProyectos()" placeholder="Buscar...">
  </div>
</div>

<div class="table-wrapper">
  <table class="table table-striped table-full" style="max-width: 1500px; margin: 0 auto;">
    <thead class="thead">
      <tr>
        <th scope="col">Proponente</th>
        <th scope="col">Proyecto</th>
        <th scope="col">Corte Superior</th>
        <th scope="col">Estado</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of proponentesProyectosFiltrados">
        <td>{{ item.proponente }}</td>
        <td>{{ item.xnombreProyecto }}</td>
        <td>{{ item.nombreCorte }}</td>
        <td>{{ item.nombreEstado }}</td>
        <td>
          <button [routerLink]="['/detalle-proyecto', item.proyectopk]" class="ver-detalle-button">
            Ver detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
