<app-slider></app-slider>
<body>
    <!-- Gray Background -->
    <div class="gray-background">
      <!-- White Box -->
      <div class="white-box">
        
        <!-- Content Section -->
        <section>
          <!-- Unidad de Gestión de Despacho Judicial -->
          <h2>Unidad de Gestión de Despacho Judicial</h2>
          <p>Es el organo de apoyo del Consejo Ejecutivo del Poder Judicial gestionar y efectuar el seguimiento de la ejecución de los proyectos orientados a la mejor en la gestion del Despacho Judicial formulados por la Gerencia General y Cortes Superiores como promover la implementación del sistema de gestion.</p>
        </section>

          <!-- Table Section -->
        <section>
          <h2>Conformación de la UGDJ</h2>
          <table>
            <tr>
              <th>Nombre</th>
              <th>Cargo</th>
            </tr>
            <tr>
              <td>Dr. Omar Vladimir Sumaria Benavente</td>
              <td>Jefe de la UGDJ</td>
            </tr>
            <tr>
              <td>Ing. John Lico Jimenez Casaverde</td>
              <td>Coordinador de Proyectos</td>
            </tr>
            <tr>
              <td>Ing. Juan Carlos Torpoco Dávila</td>
              <td>Coordinador de Calidad</td>
            </tr>
            <tr>
                <td>Abog. Bruno Otarola Chavez</td>
                <td>Coordinador Normativo</td>
            </tr>
            <tr>
                <td>Ing. Raul Melgarejo Teran</td>
                <td>Analista Informatico</td>
            </tr>
            <tr>
                <td>Lic. Bebeto Juan Pizarro Marcos</td>
                <td>Analista Estadistico</td>
            </tr>
            <tr>
                <td>Abog. Silvia Milagros Morales Silva</td>
                <td>Asistente Administrativo II</td>
            </tr>
            <tr>
                <td>Ing. Jorge Alfredo García Alejo</td>
                <td>Asistente Administrativo II</td>
            </tr>
            <tr>
                <td>Abog. Argelia Caxi Maquera</td>
                <td>Apoyo Profesional</td>
            </tr>

            <tr>
                <td>Br. David Ataucuri Rodríguez</td>
                <td>Asistente Administrativo I</td>
            </tr>


          </table>
        </section>
          <!-- Cards Section -->
        <section id="cards">
          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="assets/ramirobustamante.jpg" alt="Dr" width="180" height="160">
            <div class="card-text">
                <h3 class="fs-5 mt-4 px-4 pb-1">Consejero Responsable de la UGDJ</h3>
                <h5 class="fs-5 mt-4 px-4 pb-1">Dr. Ramiro Bustamante Zegarra</h5>
                <p class="px-4">Juez Supremo Titular de la Corte Suprema de la República e integrante del Consejo Ejecutivo del Poder Judicial</p>
              </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
              <img src="assets/evento.png" alt="evento" width="180" height="160">

              <div class="card-text">
                <h3 class="fs-5 mt-4 px-4 pb-1">Eventos Importantes</h3>
                <p class="px-4">Congreso internacional de Modernización de Despacho Judicial, este evento se realizó los días 10 y 11 de agosto de 2023, en la ciudad de lima. Este evento con la participación de ponentes nacionales e internacionales, y estuvo dirigido a los Presidentes de las 35 Cortes Superiores del país y a los integrantes de las Comisiones Distritales de Gestión de Despacho Judicial</p>
              </div>
          </div>
        </section>

        
      </div>
    </div>
    <app-footer></app-footer>  
</body>

